<template num:intial="0">
    <script context="setup">
        import { useTimer } from "./useTimer.ts"

        let count = intial;
        const decrement = () => count--
        const increment = () => count++
        let doubledCount = computed(() => count * 2)
        let time = useTimer()

        effect(() => {
            console.log({count})

        })
    </script>

    <button class="dec" @click="decrement()">-</button>
    {{ count }}
    <button class="inc" @click="increment()">+</button>

    <style scoped>
        .dec {
            color:red
        }

        .inc {
            color:green
        }
    </style>
</template>