<template count:number>
    <script lang="ts" context="setup">
        import { useTimer, setupTimer } from "./useTimer.ts"
        export let count = 0
        let time = useTimer(1000)
        let otherTime = 0
        setupTimer($(otherTime), 1000)
        const inc = () => count++
        const dec = () => count--
    </script>
    
    <div>
        <button @click="dec()">-</button>
        {{ label }}{{ count }}
        <button @click="inc()">+</button>
    </div>
    
    <style scoped>
        button {
            color: red;
        }
    </style>
</template>