<div x-scope="">
    <script lang="ts" context="setup">
        
        let todos = [{text: 'win case comp', complete: false}, {text: 'make cool slides', complete: false}]
        let newTodo = ''
        const removeToDo = (index) => {
            todos = todos.filter((_, i) => i !== index)
        }
        const addToDo = () => {
            todos = [...todos, {text: newTodo, complete: false}]
            newTodo = ''
        }
    </script>

    <div>
        <div>
            <label>New Todo: </label><input x-model="newTodo"/>
            <button @click="addToDo()">Add todo</button>
        </div>
        <ul x-for="(todo, index) in todos">
            <li [class]="todo.complete ? 'todo-complete' : 'todo'" @click="removeToDo(index)">
                #{{ index + 1 }} {{todo.text}}
            </li>
        </ul>
    </div>

    <style scoped>
        .label {
            background-color: red;
        }
        .todo:hover {
            text-decoration: line-through;
        }
        .todo-complete {
            text-decoration: line-through;
        }
        .todo-complete:hover {
            opacity: .5;
        }
    </style>
</div>